/static
/media
*/migrations
.idea/
*.pyc
media/
*.name
*.iml
*.log
*.xml
*.pyo
*.csv
.DS_Store
.idea
venv/*
static/*
*.pem
*.sqlite3
/migrations/__pycache__/
/__pycache__/
/*.pyc
/__pycache__/*.pyc
__pycache__/
.env
docker-compose-api.yml
